:root {
  --color-primary: #00106b;
  --color-secondary: #06bef7;
  --color-accent: #999b9a;
  --color-heading: rgb(2, 230, 59);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  background: var(--color-primary);
  color: #fff;
  height: 7rem;
  margin: 0;
}

h1 {
  font-size: 7rem;
}

h2 {
  margin-top: 0;
  font-size: 5rem;
}

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1.5rem 1rem;
  outline: 0;
  padding: 1rem 1.5rem;
  text-align: center;
  white-space: nowrap;
}

.btn-primary {
  background: var(--color-primary);
  color: #fff;
}

.btn-secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn-accent {
  background: var(--color-accent);
  color: #fff;
}

/* Product List */

.productList {
  /* width: ; */
  margin: 2rem 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  /* flex-wrap: wrap; */
}

.card {
  border: 3px solid var(--color-secondary);
  border-radius: 5px;
  box-shadow: 10px 5px 10px var(--color-accent);
}

.card:hover {
  transform: scale(1.1);
}

.product {
  width: 30.5rem;
  height: 45rem;
  margin: 3rem;
}

.product-image {
  position: relative;
  left: 10px;
  padding: 10px;
  width: 27rem;
  height: 30rem;
}
.item-name {
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

.item-price {
  font-size: 1.9rem;
  margin: 0 0 1rem 2rem;
}

.action-btn {
  display: flex;
  justify-content: space-around;
}

.cart-btn {
  margin: 0.2rem 1rem;
  padding: 0 1rem;
  height: 3.2rem;
}

@media screen and (min-width: 768px) {
  .productList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
  }
}

/* Product Details */
.single-product {
  display: flexbox;
}

/* Create two equal columns that floats next to each other */
.column {
  width: 50%;
  padding: 1rem;
  height: 50rem;
}

.row {
  display: flex;
}

/* Cart */
.cart {
  display: flex;
}

.cart-details {
  margin: 2rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  padding: 2rem;
  height: 20rem;
}

.cart-image-container {
  height: 100%;
}
.cart-item-image {
  width: 10rem;
  height: 75px;
}

.item-title {
  margin: 0;
  font-size: 1.8rem;
  padding: 1rem;
}

.cart-quantity {
  display: flex;
}

.cart-item-qty {
  padding-top: 2.5rem;
}

.cart-item-price {
  margin-top: 1rem;
}

/* Cart Item Price Details */

.price-details {
  width: 35%;
  height: 30rem;
  margin: 2rem;
  padding: 1rem;
  border: 2px solid var(--color-secondary);
}

.price-block {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  margin: 1rem;
}

.bold {
  font-weight: bold;
}

.clear-cart {
  margin: 2rem;
}

@media screen and (max-width: 1024px) {
  .clear-cart {
    display: flex;
    flex-direction: column;
  }

  .price-details {
    height: 35rem;
  }
}

@media screen and (max-width: 768px) {
  .cart {
    display: flex;
    flex-direction: column;
  }

  .price-details {
    width: 90%;
    margin-left: 2rem;
    /* padding: 2rem; */
  }

  .item-title {
    padding: 0;
  }

  .cart-btn {
    font-size: 1.2rem;
  }
}

.login {
  display: flex;
}

.login-block {
  width: 25%;
}

.login-page {
  width: 50%;
}

input {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 1rem;
}
